.interface-complementary-area {
  @media only screen and (min-width:782px){
    width: 300px;
  }

  @media only screen and (min-width:1400px){
    width: 350px;
  }

  @media only screen and (min-width:1800px){
    width: 400px;
  }
}

div.mce-panel.mce-fullscreen { // tinyMCE in Fullscreen mode
  top: 20px;
  left: auto;
  right: 20px;
  height: 80%;
  width: 70%;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  border: 2px solid #ddd;

  div[aria-label="Fullscreen"].mce-active {
    background-color: #bada55;
    position: absolute;
    right: 5px;
  }
}

.acf-field {
  .iris-picker {
      height: auto !important;
      overflow: hidden;
      padding: 20px 20px 10px !important;
    }

    .iris-border .iris-palette-container {
      bottom: unset;
      left: unset;
      overflow: hidden;
      position: relative;
      top: unset;
    }

    .iris-picker .iris-palette {
      height: 40px !important;
      margin-bottom: 5%;
      margin-left: 0 !important;
      margin-right: 10px;
      width: calc(25% - 10px) !important;
    }

    .iris-picker .iris-palette:nth-child(4n) {
      margin-right: 0;
    }


    .iris-picker-inner {
      display: none;
    }
}



// ACF Side Panel
.acf-block-panel {
  // Post relationship
  .acf-relationship {
    .filters.-f3 .filter {
      width: 100%;
      &.-search {

      }
    }

    .choices {
      width: 100% !important;
      .list {
        border-right: 0;
        border-bottom: 1px solid #dfdfdf;
      }
    }

    .values {
      width: 100% !important;
    }
  }
  // Gallery
  .acf-gallery {

    .acf-field .acf-input {
      vertical-align: middle;
    }

    .acf-gallery-side, .acf-gallery-side-inner {
      max-width: 100%;

      // @media only screen and (min-width:782px){
      //   width: 300px;
      // }
      //
      // @media only screen and (min-width:1100px){
      //   width: 350px;
      // }
    }
    .acf-gallery-attachments {
      padding: 0;
    }
    .acf-gallery-toolbar {
      padding: 0;
      overflow-x: hidden;

      ul {
      }

      li {
        margin: 10px 10px 0 10px;
      }
      .acf-fr {
        margin-bottom: 10px;
      }
    }
    .acf-gallery-main {
      .acf-gallery-toolbar {
        li {
          width: calc(100% - 20px);
        }
      }
    }
    .acf-gallery-side-info {
      margin: 0;
    }
  }
// Repeater
  .acf-field-repeater {
    margin: 10px 0 !important;

    & > .acf-label {
      margin: 0 10px 5px 10px;
    }

    .acf-field-wysiwyg {
      margin: 0;
    }

    .acf-row-handle {
      width: 10px;
      background: transparent !important;
      &.order {

        &+td {
          border-left: 0;
        }
        .acf-icon {
          margin-left: -6px;
        }
      }
      &.remove {
        border-left: 0;
        .acf-icon {
          margin-left: -12px;
        }
      }
    }

    .acf-fields {
      .acf-field {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}
